html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


/* Standarized HTML tags */

a {
  color: #757575;
}

.dark a {
  color: #FFEBEE;
}


/* Here's the rest of the CSS */

.page {
  display: grid;
  /* Gray 600 */
  color: #757575;
  font-family: calibri, tahoma, sans-serif;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  margin: 0 auto;
  min-height: 100%;
}

.page .dark {
  color: #FFEBEE;
}

.corner {
  /* Red 400 */
  background: #EF5350;
  padding: 0 20px;
  text-align: center;
}

.header {
  align-items: center;
  background: #FFFDE7;
  display: flex;
  padding: 0 12px;
}

.left-sidebar {
  /* Red 400 */
  background: #EF5350;
  padding: 0 12px;
}

.content {
  background: #FFFDE7;
  padding: 0 12px;
}

.profile-picture {
  background: url('../img/kayla-resume-photo-128.jpg') 0 128px/128px;
  display: inline-block;
  margin: 20px;
  width: 128px;
  height: 128px;
  clip-path: circle();
}

.identifier {
  margin: 0 auto;
  text-align: center;
}

.name {
  /* Red 500 */
  color: #F44336;
  flex-direction: row;
  font-size: 400%;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: -12px;
  text-align: center;
  vertical-align: middle;
  word-spacing: 16px;
}

.name span {
  display: inline-block;
  transform-origin: center bottom;
  /* Red 900 */
  text-shadow: 0 -1px 0 #B71C1C, 0 -2px 0 #B71C1C, 0 -3px 0 #B71C1C, 0 -4px 0 #B71C1C, 0 -5px 0 #B71C1C, 0 -6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 -1px 3px rgba(0, 0, 0, .3), 0 -3px 5px rgba(0, 0, 0, .2), 0 -5px 10px rgba(0, 0, 0, .25), 0 -7px 7px rgba(0, 0, 0, .2);
}

.firstname span:nth-child(1) {
  transform: rotateY(10deg) rotateZ(-5deg) rotateX(-12deg);
}

.firstname span:nth-child(2) {
  transform: rotateY(10deg) rotateZ(-4deg) rotateX(-10deg);
}

.firstname span:nth-child(3) {
  transform: rotateY(10deg) rotateZ(-3deg) rotateX(-7deg);
}

.firstname span:nth-child(4) {
  transform: rotateY(10deg) rotateZ(-2deg) rotateX(-5deg);
}

.firstname span:nth-child(5) {
  transform: rotateY(10deg) rotateZ(-1deg) rotateX(-2deg);
}

.name span {
  letter-spacing: -1px;
  transform: rotateY(10deg) rotateX(-10deg);
}

.lastname span:nth-last-child(5) {
  transform: rotateY(10deg) rotateZ(1deg) rotateX(2deg);
}

.lastname span:nth-last-child(4) {
  transform: rotateY(10deg) rotateZ(2deg) rotateX(4deg);
}

.lastname span:nth-last-child(3) {
  transform: rotateY(10deg) rotateZ(3deg) rotateX(7deg);
}

.lastname span:nth-last-child(2) {
  transform: rotateY(10deg) rotateZ(4deg) rotateX(10deg);
}

.lastname span:nth-last-child(1) {
  transform: rotateY(10deg) rotateZ(5deg) rotateX(12deg);
}

.job {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}


/* Sections */

.section {
  margin-bottom: 5px;
}

.section-header {
  font-weight: bold;
  font-size: 150%;
  text-transform: uppercase;
}


/* Categories */

.category {
  margin-bottom: 5px;
}

.category-header {
  font-weight: bold;
  font-size: 170%;
  text-align: center;
  text-transform: uppercase;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.category-items>div {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.item-image {
  width: 128px;
  height: 128px;
  background: red;
  margin-left: auto;
  margin-right: auto;
}

.item-title {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

.item-subtitle {
  text-align: center;
  font-weight: bold;
}

.item-body {
  display: none;
}


/* Thumbnails */

.item-image {
  border: 1px solid #EF5350;
  border-radius: 5px;
}

.image-goodwillfire18 {
  background-image: url('../img/goodwillfire18-engine-128.jpg');
}


/* Mobile styles */

@media screen and (max-width: 700px) {
  .name {
    font-size: 300%;
  }
  .corner {
    padding: 0;
  }
  .profile-picture {
    background-position: 0;
    background-size: 96px;
    width: 96px;
    height: 96px;
  }
  .left-sidebar {
    font-size: 85%;
  }
}

@media screen and (max-width: 400px) {
  .page {
    display: block;
  }
  .page>div {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .corner {
    display: none;
  }
  .profile-picture {
    /* Helps to prevent loading unncessary images on mobile devices */
    background-image: none;
  }
  .left-sidebar {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .category-items>div {
    font-size: 80%;
    padding-left: 4px;
    padding-right: 4px;
  }
  .item-image {
    width: 96px;
    height: 96px;
  }
}