* {
  box-sizing: border-box;
}
html, body {
  margin: 0px;
}
body {
  background-color: hsl(35, 45%, 70%);
  font-family: calibri, tahoma, sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
}

.page {
  background-color: white;
  margin: 1.6em auto;
  max-width: 800px;
  width: calc(100% - 100px);
}

/* Social */
.social {
  margin: 0 auto 1.6em;
}
.social > a {
  background-size: 100% 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 4px;
  margin-right: 4px;
}
.social .email {
  background-image: url('/resources/images/social/gmail.png');
}
.social .linkedin {
  background-image: url('/resources/images/social/linkedin.png');
}
.social .reddit {
  background-image: url('/resources/images/social/reddit.png');
}

.container {
  display: inline-block;
  position: relative;
  width: 100%;
}

li.n1-3 { /* Each of the 3 boxes in the project showcase */
  width: calc(100%/3 - 3px);
}


/* Styling the 3d text */
/* Credits to http://markdotto.com/playground/3d-text for the 3d design. */
.three-d-top-facing {
  text-shadow: 0 -1px 0 #750f0f,
               0 -2px 0 #750f0f,
               0 -3px 0 #750f0f,
               0 -4px 0 #750f0f,
               0 -5px 0 #750f0f,
               0 -6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -7px 7px rgba(0,0,0,.2); /* Back shadow */
}
.three-d-top-facing-short {
  text-shadow: 0 1px 0 #750f0f,
               0 2px 0 #750f0f,
               0 3px 0 #750f0f,
               0 2px 0 #750f0f,
               0 2px 0 #750f0f,
               0 2px 1px rgba(0,0,0,.1),
               0 0 2px rgba(0,0,0,.1),
               0 1px 2px rgba(0,0,0,.3),
               0 2px 2px rgba(0,0,0,.2),
               0 2px 2px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 20px 10px rgba(0,0,0,.15);
}
.three-d-bottom-facing {
  text-shadow: 0 1px 0 #750f0f,
               0 2px 0 #750f0f,
               0 3px 0 #750f0f,
               0 2px 0 #750f0f,
               0 2px 0 #750f0f,
               0 2px 1px rgba(0,0,0,.1),
               0 0 2px rgba(0,0,0,.1),
               0 1px 2px rgba(0,0,0,.3),
               0 2px 2px rgba(0,0,0,.2),
               0 2px 2px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 20px 10px rgba(0,0,0,.15);
}
.three-d-bottom-facing-short {
  text-shadow: 0 1px 0 #750f0f,
               0 2px 0 #750f0f,
               0 3px 0 #750f0f,
               0 2px 0 #750f0f,
               0 2px 0 #750f0f,
               0 2px 1px rgba(0,0,0,.1),
               0 0 2px rgba(0,0,0,.1),
               0 1px 2px rgba(0,0,0,.3),
               0 2px 2px rgba(0,0,0,.2),
               0 2px 2px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 20px 10px rgba(0,0,0,.15);
}
#full-name {
  bottom: 62%;
  color: #b71b1b;
  font-size: 3em;
  font-weight: 700;
  left: 0;
  letter-spacing: -1px;
  line-height: 0.7em;
  position: absolute;
  right: 0;
  text-align: center;
  word-spacing: 12px;
}
#full-name > span {
  display: inline-block;
  position: relative;
  transform-origin: center bottom;
}
#full-name > span:nth-child(1) { transform: rotateY(10deg) rotateZ(-4deg) rotateX(-10deg); }
#full-name > span:nth-child(2) { transform: rotateY(10deg) rotateZ(-3deg) rotateX( -8deg); }
#full-name > span:nth-child(3) { transform: rotateY(10deg) rotateZ(-2deg) rotateX( -5deg); }
#full-name > span:nth-child(4) { transform: rotateY(10deg) rotateZ(-1deg) rotateX( -2deg); }
#full-name > span { transform: rotateY(10deg) rotateX(-10deg); }
#full-name > span:nth-last-child(4) { transform: rotateY(10deg) rotateZ(1deg) rotateX( 2deg); }
#full-name > span:nth-last-child(3) { transform: rotateY(10deg) rotateZ(2deg) rotateX( 5deg); }
#full-name > span:nth-last-child(2) { transform: rotateY(10deg) rotateZ(3deg) rotateX( 8deg); }
#full-name > span:nth-last-child(1) { transform: rotateY(10deg) rotateZ(4deg) rotateX(10deg); }
.letter-hanging {
  display: inline-block;
  height: 0.7em;
}


/* Shelf */
.shelf {
  background-image: url('shelf-middle.png');
  background-size: 100% 100%;
  display: inline-block;
  margin: 5em 0 2em;
  max-width: 500px;
  position: relative;
  width: calc(100% - 100px);
}
.shelf:before {
  content: url('shelf-left.png');
  height: 57px;
  left: -44px;
  position: absolute;
  width: 44px;
}
.shelf:after {
  content: url('shelf-right.png');
  height: 57px;
  position: absolute;
  right: -44px;
  width: 44px;
}

@media (max-width: 650px) {
  .shelf-3 {
    font-size: 0.9em;
  }
}
@media (max-width: 580px) {
  .shelf-3 {
    font-size: 0.75em;
  }
}
@media (max-width: 500px) {
  .shelf-1 {
    font-size: 0.85em;
  }
  .shelf-3 {
    font-size: 0.6em;
  }
}
@media (max-width: 450px) {
  .shelf-1 {
    font-size: 0.65em;
  }
  .shelf-3 {
    font-size: 0.5em;
  }
}
@media (max-width: 370px) { /* Works until 325px */
  .shelf-1 {
    font-size: 0.55em;
  }
  .shelf-3 {
    font-size: 0.45em;
  }
}


/* Back button */
.action-nav-back {
  text-align: left;
}
.action-nav-back .panel {
  padding: 0;
  width: auto;
}
.action-nav-back a {
  color: #000;
  display: block;
  padding: 6px 30px 3px;
}


/* Left arrow */
.arrow {
  border: solid #aaa;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  top: 1px;
  right: 10px;
}


/* The project showcase */
.horizontal-showcase {
  border-bottom: 1px solid #aaa;
  /* Hack to remove padding from paper. */
  left: -1em;
  position: relative;
  width: calc(100% + 2em);
}
.horizontal-showcase ul, .panel .showcase li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.horizontal-showcase li {
  border-left: 1px solid #aaa;
  display: inline-block;
  text-align: center;
}
.horizontal-showcase li:first-child {
  border-left: none;
}
.horizontal-showcase:last-child {
  border-bottom: none;
}
.horizontal-showcase li a {
  display: block;
}
.horizontal-showcase .thumb {
  display: block;
  width: 100%;
}
.horizontal-showcase p.caption { /* Makes the entire paragraph clickable */
  margin: 0;
  padding: 0;
}


/* Paper Effect */
/* Credits to Joshua Hibbert at http://cssdeck.com/labs/pure-css-folded-paper-effect */
.panel {
    background-color: #eee;
    background-image: -webkit-linear-gradient(
      hsla(0, 0%,   0%, .025),
      hsla(0, 0%,   50%, .05) 33%,
      hsla(0, 0%,   75%, .05) 67%, 
      hsla(0, 0%, 100%, .025)
    );
    box-shadow: inset 0 0 0 .1em hsla(0,0%,0%,.1),
                inset 0 0 1em hsla(0,0%,0%,.05),
                0 .1em .25em hsla(0,0%,0%,.5);
    position: relative;
}
.panel:after,
.panel:before {
    bottom: .1em;
    box-shadow: 0 0 .5em .5em hsla(0,0%,0%,.25);
    content: '';
    height: 0.5em;
    position: absolute;
    width: 80%;
    z-index: -1;
}
.panel:after {
    right: 1em;
    -webkit-transform: rotate(3deg);
    -webkit-transform-origin: 100% 100%;
}
.panel:before {
    left: 1em;
    -webkit-transform: rotate(-3deg);
    -webkit-transform-origin: 0% 100%;
}


/* Extra panel styles */
.panel {
  color: #444;
  display: inline-block;
  line-height: 1.5em;
  padding: 0 1em;
  position: relative;
  text-align: left;
  width: 100%;
}
.panel .paragraph {
  font-family: serif;
  text-indent: 2em;
}
.panel .contact {
  text-align: center;
}
